:root{
    /*Primarios*/
   --Navy-950: hsl(233, 47%, 7%);/*(main background)*/
   --Blue-950: hsl(244, 37%, 16%);/*(card background)*/
   --Purple-500: hsl(277, 64%, 61%);/* (accent)*/
   /*Neutral*/
   --White-mheading-stats: hsl(0, 0%, 100%);
   --White-paragraph: hsla(0, 0%, 100%, 0.75);
   --White-stat-headings: hsla(0, 0%, 100%, 0.6);
   --fuente: 'Inter';
}
/*globales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    background-color: var(--Navy-950);
    font-family: var(--fuente);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a{
    text-decoration: none;
}
h1{
    color: var(--White-mheading-stats);
    font-size: 3.5rem;
    text-align: center;
}
p{
    color: var(--White-paragraph);
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
span{
    color: var(--Purple-500);
}
/*card*/
.card{
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    background-color: var(--Blue-950);
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 1rem;
    overflow: hidden;
}
.card__imagen--contendor{
    grid-row: 1/2;
    position: relative;
}
.card__imagen--contendor::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Purple-500);

    opacity: 0.75;
    mix-blend-mode: multiply;
    border-radius: 1rem 1rem 0 0;
}
.card__imagen--contendor img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
@media (min-width: 768px) {
    .card{
    grid-template-rows: none;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    max-width: 90rem;
}
    .card__imagen--contendor{
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .card__imagen--contendor::after,
    .card__imagen--contendor img{
        border-radius: 0 1rem 1rem 0;
    }
    .card__imagen--contendor img{
        height: 100%;
    }
}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.card__descripcion{
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 100;
}
@media (min-width: 768px) {
    .card__descripcion{
        line-height: 1.5;
        font-size: 1.5rem;
        font-weight: 100;
    }
}
.card__numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 768px) {
    .card__numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}
}
.card__negrita{
    color: var(--White-mheading-stats);
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;  
    margin-top: 5rem;   
    margin-bottom: 1rem;        
}
.attribution{
    color: var(--White-paragraph);
    margin-top: 2rem;
}