:root{
    /*Primarios*/
   --Navy-950: hsl(233, 47%, 7%);/*(main background)*/
   --Blue-950: hsl(244, 37%, 16%);/*(card background)*/
   --Purple-500: hsl(277, 64%, 61%);/* (accent)*/
   /*Neutral*/
   --White-mheading-stats: hsl(0, 0%, 100%);
   --White-paragraph: hsla(0, 0%, 100%, 0.75);
   --White-stat-headings: hsla(0, 0%, 100%, 0.6);
}
body{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before, *::after{
    box-sizing: inherit;
}